# Auth
NEXT_PUBLIC_AUTHENTIK_BASE_URL=https://auth.alien.club
AUTHENTIK_APP_SLUG=datastreaming
AUTHENTIK_CLIENT_ID=
AUTHENTIK_CLIENT_SECRET=
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000

# Platform Backend
PLATFORM_API_URL=http://localhost:3333
PLATFORM_API_KEY=

# Data Cluster
CLUSTER_ID=77
DATACLUSTER_MCP_URL=

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
