{"openapi":"3.0.1","info":{"title":"OpenAIRE Graph API","description":"The Graph API allows developers to access metadata records of the OpenAIRE Graph by performing queries over its entities, i.e., research products (publications, data, software, other research products), projects, data sources, and organizations. <ul><li><a href=\"https://api.openaire.eu/graph/swagger-ui/index.html?urls.primaryName=OpenAIRE%20Graph%20API%20V1\">version 1.0</a></li><li><a href=\"https://api.openaire.eu/graph/swagger-ui/index.html?urls.primaryName=OpenAIRE%20Graph%20API%20V2\">version 2.0</a></li></ul><p>For more information, please visit the <a target=\"blank\" href=\"https://graph.openaire.eu/docs/apis/graph-api\">Graph API documentation</a></p>","termsOfService":"https://graph.openaire.eu/docs/apis/terms","contact":{"name":"Contact us","url":"https://graph.openaire.eu/helpdesk"},"license":{"name":"License","url":"https://graph.openaire.eu/docs/license"}},"servers":[{"url":"https://api.openaire.eu/graph","description":"Server base URL"}],"tags":[{"name":"Organizations","description":"API endpoints to explore organizations"},{"name":"Data sources","description":"API endpoints to explore data sources"},{"name":"Research products","description":"API endpoints to explore research products"},{"name":"Projects","description":"API endpoints to explore projects"},{"name":"Products","description":"API endpoints to explore <strong>Product</strong> entity."},{"name":"Persons","description":"API endpoints to explore persons"}],"paths":{"/v2/researchProducts":{"get":{"tags":["Research products"],"summary":"Search for research products","description":"Explore research products exploiting various filter parameters","operationId":"search","parameters":[{"name":"logicalOperator","in":"query","description":"Logical operator used to combine field-level queries. Default value: *AND* </br>\nUse it when specifying multiple fields in the search. </br>\n*example: (mainTitle=geography) AND (description=19th century)*\n","required":false,"schema":{"type":"string","enum":["AND","OR","NOT"]}},{"name":"search","in":"query","description":"Keyword-based search. </br>Supports logical operators: AND, OR, NOT </br>\nLogical operators must be in UPPERCASE (AND, OR, NOT). Lowercase operators (and, or, not) are treated as ***search terms***, not as operators. </br>\nUse parentheses `()` to group conditions and control evaluation order. </br>\n*example: ((geography OR physics) AND (applied mathematics)) OR (literature and arts)*\n","required":false,"schema":{"type":"string"}},{"name":"mainTitle","in":"query","description":"Search in the research product's main title. </br>Supports logical operators: AND, OR, NOT </br>\nLogical operators must be in UPPERCASE (AND, OR, NOT). Lowercase operators (and, or, not) are treated as ***search terms***, not as operators. </br>\nUse parentheses `()` to group conditions and control evaluation order. </br>\n*example: ((geography OR physics) AND (applied mathematics)) OR (literature and arts)*\n","required":false,"schema":{"type":"string"}},{"name":"description","in":"query","description":"Search in the research product's description. </br>Supports logical operators: AND, OR, NOT </br>\nLogical operators must be in UPPERCASE (AND, OR, NOT). Lowercase operators (and, or, not) are treated as ***search terms***, not as operators. </br>\nUse parentheses `()` to group conditions and control evaluation order. </br>\n*example: ((geography OR physics) AND (applied mathematics)) OR (literature and arts)*\n","required":false,"schema":{"type":"string"}},{"name":"id","in":"query","description":"The OpenAIRE id of the research product. Logical operator: *OR*","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"pid","in":"query","description":"The persistent identifier of the research product. Logical operator: *OR*","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"originalId","in":"query","description":"The identifier of the record at the original sources. Logical operator: *OR*","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"type","in":"query","description":"The type of the research product. Logical operator: *OR*","required":false,"schema":{"type":"array","items":{"type":"string","enum":["publication","dataset","software","other"]}}},{"name":"fromPublicationDate","in":"query","description":"Gets the research products whose publication date is greater than or equal to he given date. Provide a date in YYYY or YYYY-MM-DD format","required":false,"schema":{"type":"string"}},{"name":"toPublicationDate","in":"query","description":"Gets the research products whose publication date is less than or equal to the given date. Provide a date in YYYY or YYYY-MM-DD format","required":false,"schema":{"type":"string"}},{"name":"subjects","in":"query","description":"List of subjects associated to the research product. Logical operator: *OR*","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"countryCode","in":"query","description":"The country code for the country associated with the research product. Logical operator: *OR*","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"authorFullName","in":"query","description":"The full name of the authors involved in producing this research product. Logical operator: *OR*","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"authorOrcid","in":"query","description":"The ORCiD of the authors involved in producing this research product. Logical operator: *OR*","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"publisher","in":"query","description":"The name of the entity that holds, archives, publishes prints, distributes, releases, issues, or produces the resource. Logical operator: *OR*","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"bestOpenAccessRightLabel","in":"query","description":"The best open access rights among the research product's instances. Logical operator: *OR*","required":false,"schema":{"type":"array","items":{"type":"string","enum":["OPEN SOURCE","OPEN","EMBARGO","RESTRICTED","CLOSED","UNKNOWN"]}}},{"name":"influenceClass","in":"query","description":"Citation-based indicator that reflects the overall impact of a research product; please choose a class among 'C1', 'C2', 'C3', 'C4', 'C5' for  top 0.01%, top 0.1%, top 1%, top 10%, and average in terms of influence respectively. </br> Logical operator: *OR*","required":false,"schema":{"type":"array","items":{"type":"string","enum":["C1","C2","C3","C4","C5"]}}},{"name":"popularityClass","in":"query","description":"Citation-based indicator that reflects current impact or attention of a research product; please choose a class among 'C1', 'C2', 'C3', 'C4', 'C5' for  top 0.01%, top 0.1%, top 1%, top 10%, and average in terms of popularity respectively. </br> Logical operator: *OR*","required":false,"schema":{"type":"array","items":{"type":"string","enum":["C1","C2","C3","C4","C5"]}}},{"name":"impulseClass","in":"query","description":"Citation-based indicator that reflects the initial momentum of a research product directly after its publication; please choose a class among 'C1', 'C2', 'C3', 'C4', 'C5' for  top 0.01%, top 0.1%, top 1%, top 10%, and in terms of average impulse respectively. </br> Logical operator: *OR*","required":false,"schema":{"type":"array","items":{"type":"string","enum":["C1","C2","C3","C4","C5"]}}},{"name":"citationCountClass","in":"query","description":"Citation-based indicator that reflects the overall impact of a research product by summing all its citations; please choose a class among 'C1', 'C2', 'C3', 'C4', 'C5' for  top 0.01%, top 0.1%, top 1%, top 10%, and average in terms of citation count respectively. </br> Logical operator: *OR*","required":false,"schema":{"type":"array","items":{"type":"string","enum":["C1","C2","C3","C4","C5"]}}},{"name":"instanceType","in":"query","description":"Retrieve publications of the given instance type; check <a href='http://api.openaire.eu/vocabularies/dnet:publication_resource' target='_blank'>here</a> for all possible instance type values `[Only for publications]`. </br> Logical operator: *OR*","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"sdg","in":"query","description":"Retrieves publications classified with the respective Sustainable Development Goal number (for further information check <a href='https://sdgs.un.org/goals' target='_blank'>here</a>); please provide an SDG number between 1 and 17 `[Only for publications]`. </br> Logical operator: *OR*","required":false,"schema":{"type":"array","items":{"maximum":17,"minimum":1,"type":"integer"}}},{"name":"fos","in":"query","description":"Retrieves publications classified with a given Field of Science (FOS); please provide a valid <a href='https://explore.openaire.eu/assets/common-assets/vocabulary/fos.json' target='_blank'>FOS classification identifier</a>  `[Only for publications]`. </br> Logical operator: *OR*","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"isPeerReviewed","in":"query","description":"Indicates whether the publications are peerReviewed or not `[Only for publications]`","required":false,"schema":{"type":"boolean"}},{"name":"isInDiamondJournal","in":"query","description":"Indicates whether the publication was published in a diamond journal or not `[Only for publications]`","required":false,"schema":{"type":"boolean"}},{"name":"isPubliclyFunded","in":"query","description":"Indicates whether the publication was publicly funded or not `[Only for publications]`","required":false,"schema":{"type":"boolean"}},{"name":"isGreen","in":"query","description":"Indicates whether the publication was published following the green open access model `[Only for publications]`","required":false,"schema":{"type":"boolean"}},{"name":"openAccessColor","in":"query","description":"Specifies the Open Access color of the publication `[Only for publications]`. </br> Logical operator: *OR*","required":false,"schema":{"type":"array","items":{"type":"string","enum":["bronze","gold","hybrid"]}}},{"name":"relOrganizationId","in":"query","description":"Retrieve research products connected to the organization (with OpenAIRE id). </br> Logical operator: *OR*","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"relCommunityId","in":"query","description":"Retrieve research products connected to the community (with OpenAIRE id). </br> Logical operator: *OR*","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"relProjectId","in":"query","description":"Retrieve research products connected to the project (with OpenAIRE id). </br> Logical operator: *OR*","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"relProjectCode","in":"query","description":"Retrieve research products connected to the project with code. </br> Logical operator: *OR*","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"hasProjectRel","in":"query","description":"Retrieve research products that are connected to a project","required":false,"schema":{"type":"boolean"}},{"name":"relProjectFundingShortName","in":"query","description":"Retrieve research products connected to a project that has a funder with the given short name. </br> Logical operator: *OR*","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"relProjectFundingStreamId","in":"query","description":"Retrieve research products connected to a project that has the given funding identifier. </br> Logical operator: *OR*","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"relHostingDataSourceId","in":"query","description":"Retrieve research products hosted by the data source (with OpenAIRE id). </br> Logical operator: *OR*","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"relCollectedFromDatasourceId","in":"query","description":"Retrieve research products collected from the data source (with OpenAIRE id). </br> Logical operator: *OR*","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"page","in":"query","description":"Page number of the results, \nused for basic start/rows pagination. \nMax dataset to retrieve - 10000 records. \nTo get more than that, use cursor-based pagination.","required":false,"schema":{"minimum":1,"type":"integer","default":1}},{"name":"pageSize","in":"query","description":"Number of results per page","required":false,"schema":{"maximum":100,"minimum":1,"type":"integer","default":10}},{"name":"cursor","in":"query","description":"Cursor-based pagination. Initial value: `cursor=*`. \nCursor should be used when it is required to retrieve a big dataset (more than 10000 records). \nTo get the next page of results, use nextCursor returned in the response.\n","required":false,"schema":{"type":"string"}},{"name":"sortBy","in":"query","description":"The field to sort the results by and the sort direction. The format should be in the format `fieldname ASC|DESC`, where fieldname is one of 'relevance', 'publicationDate', 'dateOfCollection', 'influence', 'popularity', 'citationCount', 'impulse'. Multiple sorting parameters should be comma-separated.","required":false,"schema":{"pattern":"^((relevance|publicationDate|dateOfCollection|influence|popularity|citationCount|impulse)\\s+(ASC|DESC),?\\s*)+$","type":"string","default":"relevance DESC"}}],"responses":{"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResearchProductsSearchResponseV2"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v2/researchProducts/{id}":{"get":{"tags":["Research products"],"summary":"Retrieve a research product by id","description":"Get a research product object by specifying its id.","operationId":"getById","parameters":[{"name":"id","in":"path","description":"The OpenAIRE id of the research product","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIResult"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/researchProducts":{"get":{"tags":["Research products"],"summary":"Search for research products","description":"Deprecated: Use <a href=\"https://api.openaire.eu/graph/swagger-ui/index.html?urls.primaryName=OpenAIRE%20Graph%20API%20V2\">version 2.0</a> instead.\nThis version is no longer supported and will be removed in the future.","operationId":"search_1","parameters":[{"name":"logicalOperator","in":"query","description":"Logical operator used to combine field-level queries. Default value: *AND* </br>\nUse it when specifying multiple fields in the search. </br>\n*example: (mainTitle=geography) AND (description=19th century)*\n","required":false,"schema":{"type":"string","enum":["AND","OR","NOT"]}},{"name":"search","in":"query","description":"Keyword-based search. </br>Supports logical operators: AND, OR, NOT </br>\nLogical operators must be in UPPERCASE (AND, OR, NOT). Lowercase operators (and, or, not) are treated as ***search terms***, not as operators. </br>\nUse parentheses `()` to group conditions and control evaluation order. </br>\n*example: ((geography OR physics) AND (applied mathematics)) OR (literature and arts)*\n","required":false,"schema":{"type":"string"}},{"name":"mainTitle","in":"query","description":"Search in the research product's main title. </br>Supports logical operators: AND, OR, NOT </br>\nLogical operators must be in UPPERCASE (AND, OR, NOT). Lowercase operators (and, or, not) are treated as ***search terms***, not as operators. </br>\nUse parentheses `()` to group conditions and control evaluation order. </br>\n*example: ((geography OR physics) AND (applied mathematics)) OR (literature and arts)*\n","required":false,"schema":{"type":"string"}},{"name":"description","in":"query","description":"Search in the research product's description. </br>Supports logical operators: AND, OR, NOT </br>\nLogical operators must be in UPPERCASE (AND, OR, NOT). Lowercase operators (and, or, not) are treated as ***search terms***, not as operators. </br>\nUse parentheses `()` to group conditions and control evaluation order. </br>\n*example: ((geography OR physics) AND (applied mathematics)) OR (literature and arts)*\n","required":false,"schema":{"type":"string"}},{"name":"id","in":"query","description":"The OpenAIRE id of the research product. Logical operator: *OR*","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"pid","in":"query","description":"The persistent identifier of the research product. Logical operator: *OR*","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"originalId","in":"query","description":"The identifier of the record at the original sources. Logical operator: *OR*","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"type","in":"query","description":"The type of the research product. Logical operator: *OR*","required":false,"schema":{"type":"array","items":{"type":"string","enum":["publication","dataset","software","other"]}}},{"name":"fromPublicationDate","in":"query","description":"Gets the research products whose publication date is greater than or equal to he given date. Provide a date in YYYY or YYYY-MM-DD format","required":false,"schema":{"type":"string"}},{"name":"toPublicationDate","in":"query","description":"Gets the research products whose publication date is less than or equal to the given date. Provide a date in YYYY or YYYY-MM-DD format","required":false,"schema":{"type":"string"}},{"name":"subjects","in":"query","description":"List of subjects associated to the research product. Logical operator: *OR*","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"countryCode","in":"query","description":"The country code for the country associated with the research product. Logical operator: *OR*","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"authorFullName","in":"query","description":"The full name of the authors involved in producing this research product. Logical operator: *OR*","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"authorOrcid","in":"query","description":"The ORCiD of the authors involved in producing this research product. Logical operator: *OR*","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"publisher","in":"query","description":"The name of the entity that holds, archives, publishes prints, distributes, releases, issues, or produces the resource. Logical operator: *OR*","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"bestOpenAccessRightLabel","in":"query","description":"The best open access rights among the research product's instances. Logical operator: *OR*","required":false,"schema":{"type":"array","items":{"type":"string","enum":["OPEN SOURCE","OPEN","EMBARGO","RESTRICTED","CLOSED","UNKNOWN"]}}},{"name":"influenceClass","in":"query","description":"Citation-based indicator that reflects the overall impact of a research product; please choose a class among 'C1', 'C2', 'C3', 'C4', 'C5' for  top 0.01%, top 0.1%, top 1%, top 10%, and average in terms of influence respectively. </br> Logical operator: *OR*","required":false,"schema":{"type":"array","items":{"type":"string","enum":["C1","C2","C3","C4","C5"]}}},{"name":"popularityClass","in":"query","description":"Citation-based indicator that reflects current impact or attention of a research product; please choose a class among 'C1', 'C2', 'C3', 'C4', 'C5' for  top 0.01%, top 0.1%, top 1%, top 10%, and average in terms of popularity respectively. </br> Logical operator: *OR*","required":false,"schema":{"type":"array","items":{"type":"string","enum":["C1","C2","C3","C4","C5"]}}},{"name":"impulseClass","in":"query","description":"Citation-based indicator that reflects the initial momentum of a research product directly after its publication; please choose a class among 'C1', 'C2', 'C3', 'C4', 'C5' for  top 0.01%, top 0.1%, top 1%, top 10%, and in terms of average impulse respectively. </br> Logical operator: *OR*","required":false,"schema":{"type":"array","items":{"type":"string","enum":["C1","C2","C3","C4","C5"]}}},{"name":"citationCountClass","in":"query","description":"Citation-based indicator that reflects the overall impact of a research product by summing all its citations; please choose a class among 'C1', 'C2', 'C3', 'C4', 'C5' for  top 0.01%, top 0.1%, top 1%, top 10%, and average in terms of citation count respectively. </br> Logical operator: *OR*","required":false,"schema":{"type":"array","items":{"type":"string","enum":["C1","C2","C3","C4","C5"]}}},{"name":"instanceType","in":"query","description":"Retrieve publications of the given instance type; check <a href='http://api.openaire.eu/vocabularies/dnet:publication_resource' target='_blank'>here</a> for all possible instance type values `[Only for publications]`. </br> Logical operator: *OR*","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"sdg","in":"query","description":"Retrieves publications classified with the respective Sustainable Development Goal number (for further information check <a href='https://sdgs.un.org/goals' target='_blank'>here</a>); please provide an SDG number between 1 and 17 `[Only for publications]`. </br> Logical operator: *OR*","required":false,"schema":{"type":"array","items":{"maximum":17,"minimum":1,"type":"integer"}}},{"name":"fos","in":"query","description":"Retrieves publications classified with a given Field of Science (FOS); please provide a valid <a href='https://explore.openaire.eu/assets/common-assets/vocabulary/fos.json' target='_blank'>FOS classification identifier</a>  `[Only for publications]`. </br> Logical operator: *OR*","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"isPeerReviewed","in":"query","description":"Indicates whether the publications are peerReviewed or not `[Only for publications]`","required":false,"schema":{"type":"boolean"}},{"name":"isInDiamondJournal","in":"query","description":"Indicates whether the publication was published in a diamond journal or not `[Only for publications]`","required":false,"schema":{"type":"boolean"}},{"name":"isPubliclyFunded","in":"query","description":"Indicates whether the publication was publicly funded or not `[Only for publications]`","required":false,"schema":{"type":"boolean"}},{"name":"isGreen","in":"query","description":"Indicates whether the publication was published following the green open access model `[Only for publications]`","required":false,"schema":{"type":"boolean"}},{"name":"openAccessColor","in":"query","description":"Specifies the Open Access color of the publication `[Only for publications]`. </br> Logical operator: *OR*","required":false,"schema":{"type":"array","items":{"type":"string","enum":["bronze","gold","hybrid"]}}},{"name":"relOrganizationId","in":"query","description":"Retrieve research products connected to the organization (with OpenAIRE id). </br> Logical operator: *OR*","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"relCommunityId","in":"query","description":"Retrieve research products connected to the community (with OpenAIRE id). </br> Logical operator: *OR*","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"relProjectId","in":"query","description":"Retrieve research products connected to the project (with OpenAIRE id). </br> Logical operator: *OR*","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"relProjectCode","in":"query","description":"Retrieve research products connected to the project with code. </br> Logical operator: *OR*","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"hasProjectRel","in":"query","description":"Retrieve research products that are connected to a project","required":false,"schema":{"type":"boolean"}},{"name":"relProjectFundingShortName","in":"query","description":"Retrieve research products connected to a project that has a funder with the given short name. </br> Logical operator: *OR*","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"relProjectFundingStreamId","in":"query","description":"Retrieve research products connected to a project that has the given funding identifier. </br> Logical operator: *OR*","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"relHostingDataSourceId","in":"query","description":"Retrieve research products hosted by the data source (with OpenAIRE id). </br> Logical operator: *OR*","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"relCollectedFromDatasourceId","in":"query","description":"Retrieve research products collected from the data source (with OpenAIRE id). </br> Logical operator: *OR*","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"page","in":"query","description":"Page number of the results, \nused for basic start/rows pagination. \nMax dataset to retrieve - 10000 records. \nTo get more than that, use cursor-based pagination.","required":false,"schema":{"minimum":1,"type":"integer","default":1}},{"name":"pageSize","in":"query","description":"Number of results per page","required":false,"schema":{"maximum":100,"minimum":1,"type":"integer","default":10}},{"name":"cursor","in":"query","description":"Cursor-based pagination. Initial value: `cursor=*`. \nCursor should be used when it is required to retrieve a big dataset (more than 10000 records). \nTo get the next page of results, use nextCursor returned in the response.\n","required":false,"schema":{"type":"string"}},{"name":"sortBy","in":"query","description":"The field to sort the results by and the sort direction. The format should be in the format `fieldname ASC|DESC`, where fieldname is one of 'relevance', 'publicationDate', 'dateOfCollection', 'influence', 'popularity', 'citationCount', 'impulse'. Multiple sorting parameters should be comma-separated.","required":false,"schema":{"pattern":"^((relevance|publicationDate|dateOfCollection|influence|popularity|citationCount|impulse)\\s+(ASC|DESC),?\\s*)+$","type":"string","default":"relevance DESC"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResearchProductsSearchResponse"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"deprecated":true}},"/v1/researchProducts/{id}":{"get":{"tags":["Research products"],"summary":"Retrieve a research product by id","description":"Deprecated: Use <a href=\"https://api.openaire.eu/graph/swagger-ui/index.html?urls.primaryName=OpenAIRE%20Graph%20API%20V2\">version 2.0</a> instead.\nThis version is no longer supported and will be removed in the future.","operationId":"getById_1","parameters":[{"name":"id","in":"path","description":"The OpenAIRE id of the research product","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GraphResult"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"deprecated":true}},"/v1/researchProducts/links":{"get":{"tags":["Research products"],"summary":"Retrieve scholix links","description":"Retrieve scholix links","operationId":"getLinks","parameters":[{"name":"targetPid","in":"query","description":"Filter relationships by target pid","required":false,"schema":{"type":"string"}},{"name":"targetPublisher","in":"query","description":"Filter relationships by target publisher","required":false,"schema":{"type":"string"}},{"name":"targetType","in":"query","description":"Filter relationships by target type (publication, dataset, software, other)","required":false,"schema":{"type":"string"}},{"name":"sourcePid","in":"query","description":"Filter relationships by source pid","required":false,"schema":{"type":"string"}},{"name":"sourcePublisher","in":"query","description":"Filter relationships by source publisher","required":false,"schema":{"type":"string"}},{"name":"sourceType","in":"query","description":"Filter relationships by source type (publication, dataset, software, other)","required":false,"schema":{"type":"string"}},{"name":"relation","in":"query","description":"Filter by specific relationships","required":false,"schema":{"type":"string"}},{"name":"fromDate","in":"query","description":"Provide From date in YYYY or YYYY-MM-DD format","required":false,"schema":{"type":"string"}},{"name":"toDate","in":"query","description":"Provide To date in YYYY or YYYY-MM-DD format","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","description":"Page number of the results","required":false,"schema":{"type":"integer","default":0}},{"name":"pageSize","in":"query","description":"Page size - maximum value: 100","required":false,"schema":{"type":"integer","default":100}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchResponseRelation"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/researchProducts/links/relations-info":{"get":{"tags":["Research products"],"summary":"Retrieve relations information","description":"Retrieve information about available relation types from scholexplorer","operationId":"getRelationsInfo","responses":{"200":{"description":"OK","content":{"application/json":{}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/projects":{"get":{"tags":["Projects"],"summary":"Search for projects","description":"Explore projects exploiting various filter parameters","operationId":"search_2","parameters":[{"name":"logicalOperator","in":"query","description":"Logical operator used to combine field-level queries. Default value: *AND* </br>\nUse it when specifying multiple fields in the search. </br>\n*example: (mainTitle=geography) AND (description=19th century)*\n","required":false,"schema":{"type":"string","enum":["AND","OR","NOT"]}},{"name":"search","in":"query","description":"Keyword-based search. </br>Supports logical operators: AND, OR, NOT </br>\nLogical operators must be in UPPERCASE (AND, OR, NOT). Lowercase operators (and, or, not) are treated as ***search terms***, not as operators. </br>\nUse parentheses `()` to group conditions and control evaluation order. </br>\n*example: ((geography OR physics) AND (applied mathematics)) OR (literature and arts)*\n","required":false,"schema":{"type":"string"}},{"name":"title","in":"query","description":"Search in the project's title. </br>Supports logical operators: AND, OR, NOT </br>\nLogical operators must be in UPPERCASE (AND, OR, NOT). Lowercase operators (and, or, not) are treated as ***search terms***, not as operators. </br>\nUse parentheses `()` to group conditions and control evaluation order. </br>\n*example: ((geography OR physics) AND (applied mathematics)) OR (literature and arts)*\n","required":false,"schema":{"type":"string"}},{"name":"keywords","in":"query","description":"The project's keywords. </br>Supports logical operators: AND, OR, NOT </br>\nLogical operators must be in UPPERCASE (AND, OR, NOT). Lowercase operators (and, or, not) are treated as ***search terms***, not as operators. </br>\nUse parentheses `()` to group conditions and control evaluation order. </br>\n*example: ((geography OR physics) AND (applied mathematics)) OR (literature and arts)*\n","required":false,"schema":{"type":"string"}},{"name":"id","in":"query","description":"The OpenAIRE id of the project. Logical operator: *OR*","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"code","in":"query","description":"The grant agreement (GA) code of the project. Logical operator: *OR*","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"acronym","in":"query","description":"Project's acronym. Logical operator: *OR*","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"callIdentifier","in":"query","description":"The identifier of the research call. Logical operator: *OR*","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"fundingShortName","in":"query","description":"The short name of the funder. Logical operator: *OR*","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"fundingStreamId","in":"query","description":"The identifier of the funding stream. Logical operator: *OR*","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"fromStartDate","in":"query","description":"Gets the projects with start date greater than or equal to the given date. Provide a date in YYYY or YYYY-MM-DD format","required":false,"schema":{"type":"string"}},{"name":"toStartDate","in":"query","description":"Gets the projects with start date less than or equal to the given date. Provide a date in YYYY or YYYY-MM-DD format","required":false,"schema":{"type":"string"}},{"name":"fromEndDate","in":"query","description":"Gets the projects with end date greater than or equal to the given date. Provide a date in YYYY or YYYY-MM-DD format","required":false,"schema":{"type":"string"}},{"name":"toEndDate","in":"query","description":"Gets the projects with end date less than or equal to the given date. Provide a date in YYYY or YYYY-MM-DD format","required":false,"schema":{"type":"string"}},{"name":"relOrganizationName","in":"query","description":"The name or short name of the related organization. Logical operator: *OR*","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"relOrganizationId","in":"query","description":"The organization identifier of the related organization. Logical operator: *OR*","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"relCommunityId","in":"query","description":"Retrieve projects connected to the community (with OpenAIRE id). Logical operator: *OR*","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"relOrganizationCountryCode","in":"query","description":"The country code of the related organizations. Logical operator: *OR*","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"relCollectedFromDatasourceId","in":"query","description":"Retrieve projects collected from the data source (with OpenAIRE id). Logical operator: *OR*","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"page","in":"query","description":"Page number of the results, \nused for basic start/rows pagination. \nMax dataset to retrieve - 10000 records. \nTo get more than that, use cursor-based pagination.","required":false,"schema":{"minimum":1,"type":"integer","default":1}},{"name":"pageSize","in":"query","description":"Number of results per page","required":false,"schema":{"maximum":100,"minimum":1,"type":"integer","default":10}},{"name":"cursor","in":"query","description":"Cursor-based pagination. Initial value: `cursor=*`. \nCursor should be used when it is required to retrieve a big dataset (more than 10000 records). \nTo get the next page of results, use nextCursor returned in the response.\n","required":false,"schema":{"type":"string"}},{"name":"sortBy","in":"query","description":"The field to sort the results by and the sort direction. The format should be in the format `fieldname ASC|DESC`, where fieldname is one of 'relevance', 'startDate', 'endDate'. Multiple sorting parameters should be comma-separated.","required":false,"schema":{"pattern":"^((relevance|startDate|endDate)\\s+(ASC|DESC),?\\s*)+$","type":"string","default":"relevance DESC"}}],"responses":{"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/projects/{id}":{"get":{"tags":["Projects"],"summary":"Retrieve a project by id","description":"Get a project object by specifying its id.","operationId":"getById_2","parameters":[{"name":"id","in":"path","description":"The OpenAIRE id of the project","required":true,"schema":{"type":"string"}}],"responses":{"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectSearchResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/persons":{"get":{"tags":["Persons"],"summary":"Search for persons","description":"Search for persons using filters and pagination options","operationId":"search_3","parameters":[{"name":"logicalOperator","in":"query","description":"Logical operator used to combine field-level queries. Default value: *AND* </br>\nUse it when specifying multiple fields in the search. </br>\n*example: (mainTitle=geography) AND (description=19th century)*\n","required":false,"schema":{"type":"string","enum":["AND","OR","NOT"]}},{"name":"search","in":"query","description":"Keyword-based search. </br>Supports logical operators: AND, OR, NOT </br>\nLogical operators must be in UPPERCASE (AND, OR, NOT). Lowercase operators (and, or, not) are treated as ***search terms***, not as operators. </br>\nUse parentheses `()` to group conditions and control evaluation order. </br>\n*example: ((geography OR physics) AND (applied mathematics)) OR (literature and arts)*\n","required":false,"schema":{"type":"string"}},{"name":"id","in":"query","description":"The OpenAIRE id of the project. Logical operator: *OR*","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"originalId","in":"query","description":"The identifier of the record at the original sources. Logical operator: *OR*","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"givenName","in":"query","description":"The given name of the person. </br>Supports logical operators: AND, OR, NOT </br>\nLogical operators must be in UPPERCASE (AND, OR, NOT). Lowercase operators (and, or, not) are treated as ***search terms***, not as operators. </br>\nUse parentheses `()` to group conditions and control evaluation order. </br>\n*example: ((geography OR physics) AND (applied mathematics)) OR (literature and arts)*\n","required":false,"schema":{"type":"string"}},{"name":"lastName","in":"query","description":"The last name of the person. </br>Supports logical operators: AND, OR, NOT </br>\nLogical operators must be in UPPERCASE (AND, OR, NOT). Lowercase operators (and, or, not) are treated as ***search terms***, not as operators. </br>\nUse parentheses `()` to group conditions and control evaluation order. </br>\n*example: ((geography OR physics) AND (applied mathematics)) OR (literature and arts)*\n","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","description":"Page number of the results, \nused for basic start/rows pagination. \nMax dataset to retrieve - 10000 records. \nTo get more than that, use cursor-based pagination.","required":false,"schema":{"minimum":1,"type":"integer","default":1}},{"name":"pageSize","in":"query","description":"Number of results per page","required":false,"schema":{"maximum":100,"minimum":1,"type":"integer","default":10}},{"name":"cursor","in":"query","description":"Cursor-based pagination. Initial value: `cursor=*`. \nCursor should be used when it is required to retrieve a big dataset (more than 10000 records). \nTo get the next page of results, use nextCursor returned in the response.\n","required":false,"schema":{"type":"string"}},{"name":"sortBy","in":"query","description":"The field to sort the results by and the sort direction. The format should be in the format `fieldname ASC|DESC`, where fieldname is one of 'relevance', 'startDate', 'endDate'. Multiple sorting parameters should be comma-separated.","required":false,"schema":{"pattern":"^((relevance|startDate|endDate)\\s+(ASC|DESC),?\\s*)+$","type":"string","default":"relevance DESC"}}],"responses":{"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GraphApiPerson"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/persons/{id}":{"get":{"tags":["Persons"],"summary":"Retrieve a person by id","description":"Retrieve a person by id","operationId":"getById_3","parameters":[{"name":"id","in":"path","description":"The OpenAIRE id of the person","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GraphResult"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/organizations":{"get":{"tags":["Organizations"],"summary":"Search for organizations","description":"Explore organizations exploiting various filter parameters","operationId":"search_4","parameters":[{"name":"logicalOperator","in":"query","description":"Logical operator used to combine field-level queries. Default value: *AND* </br>\nUse it when specifying multiple fields in the search. </br>\n*example: (mainTitle=geography) AND (description=19th century)*\n","required":false,"schema":{"type":"string","enum":["AND","OR","NOT"]}},{"name":"search","in":"query","description":"Keyword-based search. </br>Supports logical operators: AND, OR, NOT </br>\nLogical operators must be in UPPERCASE (AND, OR, NOT). Lowercase operators (and, or, not) are treated as ***search terms***, not as operators. </br>\nUse parentheses `()` to group conditions and control evaluation order. </br>\n*example: ((geography OR physics) AND (applied mathematics)) OR (literature and arts)*\n","required":false,"schema":{"type":"string"}},{"name":"legalName","in":"query","description":"The legal name of the organization. Logical operator: *OR*","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"legalShortName","in":"query","description":"The legal name of the organization in short form. Logical operator: *OR*","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"id","in":"query","description":"The OpenAIRE id of the organization. Logical operator: *OR*","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"pid","in":"query","description":"The persistent identifier of the organization. Logical operator: *OR*","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"countryCode","in":"query","description":"The country code of the organization. Logical operator: *OR*","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"relCommunityId","in":"query","description":"Retrieve organizations connected to the community (with OpenAIRE id). Logical operator: *OR*","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"relCollectedFromDatasourceId","in":"query","description":"Retrieve organizations collected from the data source (with OpenAIRE id). Logical operator: *OR*","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"page","in":"query","description":"Page number of the results, \nused for basic start/rows pagination. \nMax dataset to retrieve - 10000 records. \nTo get more than that, use cursor-based pagination.","required":false,"schema":{"minimum":1,"type":"integer","default":1}},{"name":"pageSize","in":"query","description":"Number of results per page","required":false,"schema":{"maximum":100,"minimum":1,"type":"integer","default":10}},{"name":"cursor","in":"query","description":"Cursor-based pagination. Initial value: `cursor=*`. \nCursor should be used when it is required to retrieve a big dataset (more than 10000 records). \nTo get the next page of results, use nextCursor returned in the response.\n","required":false,"schema":{"type":"string"}},{"name":"sortBy","in":"query","description":"The field to sort the results by and the sort direction. The format should be in the format `fieldname ASC|DESC`, organizations can be only sorted by the 'relevance'.","required":false,"schema":{"pattern":"^((relevance)\\s+(ASC|DESC),?\\s*)+$","type":"string","default":"relevance DESC"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationSearchResponse"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/organizations/{id}":{"get":{"tags":["Organizations"],"summary":"Retrieve an organization by id","description":"Get a organization object by specifying its id.","operationId":"getById_4","parameters":[{"name":"id","in":"path","description":"The OpenAIRE id of the project","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Organization"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/dataSources":{"get":{"tags":["Data sources"],"summary":"Search for data sources","description":"Explore data sources exploiting various filter parameters","operationId":"search_5","parameters":[{"name":"logicalOperator","in":"query","description":"Logical operator used to combine field-level queries. Default value: *AND* </br>\nUse it when specifying multiple fields in the search. </br>\n*example: (mainTitle=geography) AND (description=19th century)*\n","required":false,"schema":{"type":"string","enum":["AND","OR","NOT"]}},{"name":"search","in":"query","description":"Keyword-based search. </br>Supports logical operators: AND, OR, NOT </br>\nLogical operators must be in UPPERCASE (AND, OR, NOT). Lowercase operators (and, or, not) are treated as ***search terms***, not as operators. </br>\nUse parentheses `()` to group conditions and control evaluation order. </br>\n*example: ((geography OR physics) AND (applied mathematics)) OR (literature and arts)*\n","required":false,"schema":{"type":"string"}},{"name":"officialName","in":"query","description":"The official name of the data source. Logical operator: *OR*","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"englishName","in":"query","description":"The English name of the data source. Logical operator: *OR*","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"legalShortName","in":"query","description":"The legal name of the organization in short form. Logical operator: *OR*","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"id","in":"query","description":"The OpenAIRE id of the data source. Logical operator: *OR*","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"pid","in":"query","description":"The persistent identifier of the data source. Logical operator: *OR*","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"subjects","in":"query","description":"List of subjects associated to the datasource. Logical operator: *OR*","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"dataSourceTypeName","in":"query","description":"The data source type; see all possible values <a href='https://api.openaire.eu/vocabularies/dnet:datasource_typologies' target='_blank'>here</a>. Logical operator: *OR*","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"contentTypes","in":"query","description":"Types of content in the data source, as defined by OpenDOAR. Logical operator: *OR*","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"relOrganizationId","in":"query","description":"Retrieve data sources connected to the organization (with OpenAIRE id). Logical operator: *OR*","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"relCommunityId","in":"query","description":"Retrieve data sources connected to the community (with OpenAIRE id). Logical operator: *OR*","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"relCollectedFromDatasourceId","in":"query","description":"Retrieve data sources collected from the data source (with OpenAIRE id). Logical operator: *OR*","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"page","in":"query","description":"Page number of the results, \nused for basic start/rows pagination. \nMax dataset to retrieve - 10000 records. \nTo get more than that, use cursor-based pagination.","required":false,"schema":{"minimum":1,"type":"integer","default":1}},{"name":"pageSize","in":"query","description":"Number of results per page","required":false,"schema":{"maximum":100,"minimum":1,"type":"integer","default":10}},{"name":"cursor","in":"query","description":"Cursor-based pagination. Initial value: `cursor=*`. \nCursor should be used when it is required to retrieve a big dataset (more than 10000 records). \nTo get the next page of results, use nextCursor returned in the response.\n","required":false,"schema":{"type":"string"}},{"name":"sortBy","in":"query","description":"The field to sort the results by and the sort direction. The format should be in the format `fieldname ASC|DESC`, organizations can be only sorted by the 'relevance'.","required":false,"schema":{"pattern":"^((relevance)\\s+(ASC|DESC),?\\s*)+$","type":"string","default":"relevance DESC"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataSourceSearchResponse"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/dataSources/{id}":{"get":{"tags":["Data sources"],"summary":"Retrieve an data source by id","description":"Get a data source object by specifying its id.","operationId":"getById_5","parameters":[{"name":"id","in":"path","description":"The OpenAIRE id of the data source","required":true,"schema":{"type":"string"}}],"responses":{"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Datasource"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/skg-if/v1/products":{"get":{"tags":["Products"],"description":"Get a list of `product` matching the provided filter criteria.","operationId":"search_6","parameters":[{"name":"filter","in":"query","description":"   Filter string with pipe-separated values for multiple values per key.\n\n   **Format:** `key1:value1|value2,key2:value3`\n\n   **Examples:**\n   - Single values: `product_type:publication,cf.search.title:ocean`\n   - Multiple values: `product_type:publication|dataset|software`\n   - Mixed: `product_type:publication|dataset,cf.search.title:ocean`\n\n   **IMPORTANT:** Duplicate keys are not allowed (use pipe `|` to separate multiple values)\n\n   **Attribute Filters:**\n- `product_type`: publication, dataset, software, other\n- `identifiers.id`: product identifier (DOI, arXiv, etc.)\n- `identifiers.scheme`: identifier scheme (doi, arxiv, etc.)\n- `contributions.by.local_identifier`: contributor local ID\n- `contributions.by.identifiers.id`: contributor identifier (ORCID, etc.)\n- `contributions.by.identifiers.scheme`: contributor ID scheme (orcid, etc.)\n- `contributions.by.family_name`: contributor family name\n- `contributions.by.given_name`: contributor given name\n- `contributions.by.name`: contributor full name\n- `contributions.declared_affiliations.local_identifier`: affiliation local ID\n- `contributions.declared_affiliations.identifiers.id`: affiliation identifier\n- `contributions.declared_affiliations.identifiers.scheme`: affiliation ID scheme\n- `contributions.declared_affiliations.name`: affiliation name\n- `contributions.declared_affiliations.short_name`: affiliation short name\n- `funding.local_identifier`: funding local identifier\n- `funding.grant_number`: funding grant number\n- `funding.identifiers.id`: funding identifier\n- `funding.identifiers.scheme`: funding identifier scheme\n\n**Convenience Filters:**\n- `cf.search.title`: title search\n- `cf.search.title_abstract`: title and abstract search\n- `cf.contributions_orcid`: ORCID-based contributor search\n- `cf.cites`: citation relationships\n- `cf.subject`: subject classification\n- `cf.publication_year`: publication year\n- `cf.language`: language filter\n- `cf.access_rights`: access rights filter\n","required":true,"schema":{"type":"string"},"example":"product_type:publication"},{"name":"page","in":"query","required":false,"schema":{"minimum":1,"type":"integer","default":1}},{"name":"page_size","in":"query","required":false,"schema":{"maximum":100,"minimum":1,"type":"integer","default":100}}],"responses":{"200":{"description":"OK","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/SkgIfJsonLdResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Bad Request","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Unprocessable Entity","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/skg-if/v1/products/{localIdentifier}":{"get":{"tags":["Products"],"description":"Get product by local identifier.","operationId":"getById_6","parameters":[{"name":"localIdentifier","in":"path","description":"The local identifier of the product","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/SkgIfJsonLdResponse"}}}},"404":{"description":"Not Found","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/ld+json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/search/projects":{"get":{"tags":["Projects"],"summary":"Search for projects (XML Mediator API)","description":"Search and filter projects using the legacy XML API format.","operationId":"search_7","parameters":[{"name":"keywords","in":"query","description":"Keyword-based search","required":false,"schema":{"type":"string","description":"Keyword-based search"}},{"name":"name","in":"query","description":"Search in project title/name","required":false,"schema":{"type":"string","description":"Search in project title/name"}},{"name":"acronym","in":"query","description":"Filter by project acronym(s)","required":false,"schema":{"type":"string","description":"Filter by project acronym(s)"}},{"name":"grantID","in":"query","description":"Filter by grant ID / project code(s)","required":false,"schema":{"type":"string","description":"Filter by grant ID / project code(s)"}},{"name":"callID","in":"query","description":"Filter by call identifier(s)","required":false,"schema":{"type":"string","description":"Filter by call identifier(s)"}},{"name":"funder","in":"query","description":"Filter by funder shortname(s)","required":false,"schema":{"type":"string","description":"Filter by funder shortname(s)"}},{"name":"fundingStream","in":"query","description":"Filter by funding stream name(s)","required":false,"schema":{"type":"string","description":"Filter by funding stream name(s)"}},{"name":"openairePublicationID","in":"query","description":"Filter by OpenAIRE publication ID(s)","required":false,"schema":{"type":"string","description":"Filter by OpenAIRE publication ID(s)"}},{"name":"participantCountries","in":"query","description":"Filter by participant country codes","required":false,"schema":{"type":"string","description":"Filter by participant country codes"}},{"name":"participantAcronyms","in":"query","description":"Filter by participant organization acronyms","required":false,"schema":{"type":"string","description":"Filter by participant organization acronyms"}},{"name":"hasECFunding","in":"query","description":"Filter projects with EC (European Commission) funding","required":false,"schema":{"type":"string","description":"Filter projects with EC (European Commission) funding"}},{"name":"hasWTFunding","in":"query","description":"Filter projects with Wellcome Trust funding","required":false,"schema":{"type":"string","description":"Filter projects with Wellcome Trust funding"}},{"name":"startYear","in":"query","description":"Filter by project start year","required":false,"schema":{"type":"string","description":"Filter by project start year"}},{"name":"endYear","in":"query","description":"Filter by project end year","required":false,"schema":{"type":"string","description":"Filter by project end year"}},{"name":"sortBy","in":"query","description":"Sort results by field and direction. Format: 'field ASC|DESC'. Available fields for projects: relevance, projectstartdate, projectstartyear, projectenddate, projectendyear, projectduration. Multiple sort criteria can be comma-separated.","required":false,"schema":{"type":"string","description":"Sort results by field and direction. Format: 'field ASC|DESC'. Available fields for projects: relevance, projectstartdate, projectstartyear, projectenddate, projectendyear, projectduration. Multiple sort criteria can be comma-separated.","default":"relevance DESC"}},{"name":"page","in":"query","description":"Page number","required":false,"schema":{"minimum":1,"type":"string","description":"Page number","default":"1"}},{"name":"size","in":"query","description":"Number of results per page (max 100)","required":false,"schema":{"maximum":100,"type":"string","description":"Number of results per page (max 100)","example":10,"default":"10"},"example":10},{"name":"cursorMark","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/XmlResponse"}}}},"400":{"description":"Invalid request parameters","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/XmlResponse"}}}},"500":{"description":"Internal server error","content":{"application/xml":{"schema":{"$ref":"#/components/schemas/XmlResponse"}}}}}}}},"components":{"schemas":{"ErrorResponse":{"type":"object","properties":{"message":{"type":"string","description":"The application error message"},"error":{"type":"string","description":"The http error message"},"code":{"type":"integer","description":"The http error code","format":"int32"},"timestamp":{"type":"string","description":"The timestamp the error occurred","format":"date-time"},"path":{"type":"string","description":"The path of the request"}}},"APC":{"type":"object","properties":{"currency":{"type":"string"},"amount":{"type":"string"}}},"APIResult":{"type":"object","properties":{"authors":{"type":"array","items":{"$ref":"#/components/schemas/Author"}},"openAccessColor":{"type":"string","enum":["gold","hybrid","bronze"]},"publiclyFunded":{"type":"boolean"},"type":{"type":"string"},"language":{"$ref":"#/components/schemas/Language"},"countries":{"type":"array","items":{"$ref":"#/components/schemas/ResultCountry"}},"subjects":{"type":"array","items":{"$ref":"#/components/schemas/Subject"}},"mainTitle":{"type":"string"},"subTitle":{"type":"string"},"descriptions":{"type":"array","items":{"type":"string"}},"publicationDate":{"type":"string"},"publisher":{"type":"string"},"embargoEndDate":{"type":"string"},"sources":{"type":"array","items":{"type":"string"}},"formats":{"type":"array","items":{"type":"string"}},"contributors":{"type":"array","items":{"type":"string"}},"coverages":{"type":"array","items":{"type":"string"}},"bestAccessRight":{"$ref":"#/components/schemas/BestAccessRight"},"container":{"$ref":"#/components/schemas/Container"},"documentationUrls":{"type":"array","items":{"type":"string"}},"codeRepositoryUrl":{"type":"string"},"programmingLanguage":{"type":"string"},"contactPeople":{"type":"array","items":{"type":"string"}},"contactGroups":{"type":"array","items":{"type":"string"}},"tools":{"type":"array","items":{"type":"string"}},"size":{"type":"string"},"version":{"type":"string"},"geoLocations":{"type":"array","items":{"$ref":"#/components/schemas/GeoLocation"}},"id":{"type":"string"},"originalIds":{"type":"array","items":{"type":"string"}},"pids":{"type":"array","items":{"$ref":"#/components/schemas/ResultPid"}},"dateOfCollection":{"type":"string"},"lastUpdateTimeStamp":{"type":"integer","format":"int64"},"indicators":{"$ref":"#/components/schemas/Indicator"},"projects":{"type":"array","items":{"$ref":"#/components/schemas/Project"}},"organizations":{"type":"array","items":{"$ref":"#/components/schemas/Affiliation"}},"communities":{"type":"array","items":{"$ref":"#/components/schemas/Context"}},"collectedFrom":{"type":"array","items":{"$ref":"#/components/schemas/CfHbKeyValue"}},"instances":{"type":"array","items":{"$ref":"#/components/schemas/CommunityInstance"}},"isGreen":{"type":"boolean"},"isInDiamondJournal":{"type":"boolean"}}},"AccessRight":{"type":"object","properties":{"code":{"type":"string"},"label":{"type":"string"},"scheme":{"type":"string"},"openAccessRoute":{"type":"string","enum":["gold","green","hybrid","bronze"]}}},"Affiliation":{"type":"object","properties":{"legalName":{"type":"string"},"acronym":{"type":"string"},"id":{"type":"string"},"pids":{"type":"array","items":{"$ref":"#/components/schemas/OrganizationPid"}}}},"AlternateIdentifier":{"type":"object","properties":{"scheme":{"type":"string"},"value":{"type":"string"}}},"Author":{"type":"object","properties":{"fullName":{"type":"string"},"name":{"type":"string"},"surname":{"type":"string"},"rank":{"type":"integer","format":"int32"},"pid":{"$ref":"#/components/schemas/AuthorPid"}}},"AuthorPid":{"type":"object","properties":{"id":{"$ref":"#/components/schemas/AuthorPidSchemeValue"},"provenance":{"$ref":"#/components/schemas/Provenance"}}},"AuthorPidSchemeValue":{"type":"object","properties":{"scheme":{"type":"string"},"value":{"type":"string"}}},"BestAccessRight":{"type":"object","properties":{"code":{"type":"string"},"label":{"type":"string"},"scheme":{"type":"string"}}},"BipIndicators":{"type":"object","properties":{"citationCount":{"type":"number","format":"double"},"influence":{"type":"number","format":"double"},"popularity":{"type":"number","format":"double"},"impulse":{"type":"number","format":"double"},"citationClass":{"type":"string"},"influenceClass":{"type":"string"},"impulseClass":{"type":"string"},"popularityClass":{"type":"string"}}},"CfHbKeyValue":{"type":"object","properties":{"key":{"type":"string"},"value":{"type":"string"}}},"CommunityInstance":{"type":"object","properties":{"pids":{"type":"array","items":{"$ref":"#/components/schemas/ResultPid"}},"alternateIdentifiers":{"type":"array","items":{"$ref":"#/components/schemas/AlternateIdentifier"}},"license":{"type":"string"},"accessRight":{"$ref":"#/components/schemas/AccessRight"},"type":{"type":"string"},"urls":{"type":"array","items":{"type":"string"}},"articleProcessingCharge":{"$ref":"#/components/schemas/APC"},"publicationDate":{"type":"string"},"refereed":{"type":"string"},"hostedBy":{"$ref":"#/components/schemas/CfHbKeyValue"},"collectedFrom":{"$ref":"#/components/schemas/CfHbKeyValue"}}},"Container":{"type":"object","properties":{"name":{"type":"string"},"issnPrinted":{"type":"string"},"issnOnline":{"type":"string"},"issnLinking":{"type":"string"},"ep":{"type":"string"},"iss":{"type":"string"},"sp":{"type":"string"},"vol":{"type":"string"},"edition":{"type":"string"},"conferencePlace":{"type":"string"},"conferenceDate":{"type":"string"}}},"Context":{"type":"object","properties":{"id":{"type":"string"},"label":{"type":"string"},"type":{"type":"string"},"category":{"type":"array","items":{"$ref":"#/components/schemas/Category"}}}},"GeoLocation":{"type":"object","properties":{"point":{"type":"string"},"box":{"type":"string"},"place":{"type":"string"}}},"Indicator":{"type":"object","properties":{"citationImpact":{"$ref":"#/components/schemas/BipIndicators"},"usageCounts":{"$ref":"#/components/schemas/UsageCounts"}}},"Language":{"type":"object","properties":{"code":{"type":"string"},"label":{"type":"string"}}},"OrganizationPid":{"type":"object","properties":{"scheme":{"type":"string"},"value":{"type":"string"}}},"Project":{"type":"object","properties":{"id":{"type":"string"},"code":{"type":"string"},"acronym":{"type":"string"},"title":{"type":"string"},"websiteUrl":{"type":"string"},"startDate":{"type":"string"},"endDate":{"type":"string"},"callIdentifier":{"type":"string"},"keywords":{"type":"string"},"openAccessMandateForPublications":{"type":"boolean"},"openAccessMandateForDataset":{"type":"boolean"},"subjects":{"type":"array","items":{"type":"string"}},"fundings":{"type":"array","items":{"$ref":"#/components/schemas/Funder"}},"summary":{"type":"string"},"granted":{"$ref":"#/components/schemas/Granted"},"h2020Programmes":{"type":"array","items":{"$ref":"#/components/schemas/Programme"}}}},"Provenance":{"type":"object","properties":{"provenance":{"type":"string"},"trust":{"type":"string"}}},"ResearchProductsSearchResponseV2":{"type":"object","properties":{"header":{"$ref":"#/components/schemas/SearchHeader"},"results":{"type":"array","items":{"$ref":"#/components/schemas/APIResult"}}}},"ResultCountry":{"type":"object","properties":{"code":{"type":"string"},"label":{"type":"string"},"provenance":{"$ref":"#/components/schemas/Provenance"}}},"ResultPid":{"type":"object","properties":{"scheme":{"type":"string"},"value":{"type":"string"}}},"SearchHeader":{"type":"object","properties":{"debug":{"$ref":"#/components/schemas/SearchHeaderDebug"},"numFound":{"type":"integer","format":"int64"},"maxScore":{"type":"number","format":"float"},"queryTime":{"type":"integer","format":"int32"},"page":{"type":"integer","format":"int32"},"pageSize":{"type":"integer","format":"int32"},"totalPages":{"type":"integer","format":"int32"},"totalLinks":{"type":"integer","format":"int32"},"nextCursor":{"type":"string","description":"nextCursor - to be used in the next request to get the next page of results. \nYou can repeat this process until you’ve fetched as many results as you want, \nor until the nextCursor returned matches the current cursor you’ve already specified, \nindicating that there are no more results.\n"}}},"SearchHeaderDebug":{"type":"object","properties":{"queryParams":{"$ref":"#/components/schemas/SolrQueryParams"},"parsedQuery":{"type":"string"},"parsedFilterQuery":{"type":"string"}}},"SolrQueryParams":{"type":"object","properties":{"queryString":{"type":"string"},"filterQueries":{"type":"array","items":{"type":"string"}},"fieldList":{"type":"string"},"debugQuery":{"type":"boolean"},"start":{"type":"integer","format":"int32"},"rows":{"type":"integer","format":"int32"},"sort":{"type":"array","items":{"$ref":"#/components/schemas/SortClause"}},"cursor":{"type":"string"}}},"SortClause":{"type":"object","properties":{"item":{"type":"string"},"order":{"type":"string","enum":["desc","asc"]}}},"Subject":{"type":"object","properties":{"subject":{"$ref":"#/components/schemas/SubjectSchemeValue"},"provenance":{"$ref":"#/components/schemas/Provenance"}}},"SubjectSchemeValue":{"type":"object","properties":{"scheme":{"type":"string"},"value":{"type":"string"}}},"UsageCounts":{"type":"object","properties":{"downloads":{"type":"integer","format":"int32"},"views":{"type":"integer","format":"int32"}}},"GraphResult":{"type":"object","properties":{"authors":{"type":"array","items":{"$ref":"#/components/schemas/Author"}},"openAccessColor":{"type":"string","enum":["gold","hybrid","bronze"]},"publiclyFunded":{"type":"boolean"},"type":{"type":"string"},"language":{"$ref":"#/components/schemas/Language"},"countries":{"type":"array","items":{"$ref":"#/components/schemas/ResultCountry"}},"subjects":{"type":"array","items":{"$ref":"#/components/schemas/Subject"}},"mainTitle":{"type":"string"},"subTitle":{"type":"string"},"descriptions":{"type":"array","items":{"type":"string"}},"publicationDate":{"type":"string"},"publisher":{"type":"string"},"embargoEndDate":{"type":"string"},"sources":{"type":"array","items":{"type":"string"}},"formats":{"type":"array","items":{"type":"string"}},"contributors":{"type":"array","items":{"type":"string"}},"coverages":{"type":"array","items":{"type":"string"}},"bestAccessRight":{"$ref":"#/components/schemas/BestAccessRight"},"container":{"$ref":"#/components/schemas/Container"},"documentationUrls":{"type":"array","items":{"type":"string"}},"codeRepositoryUrl":{"type":"string"},"programmingLanguage":{"type":"string"},"contactPeople":{"type":"array","items":{"type":"string"}},"contactGroups":{"type":"array","items":{"type":"string"}},"tools":{"type":"array","items":{"type":"string"}},"size":{"type":"string"},"version":{"type":"string"},"geoLocations":{"type":"array","items":{"$ref":"#/components/schemas/GeoLocation"}},"id":{"type":"string"},"originalIds":{"type":"array","items":{"type":"string"}},"pids":{"type":"array","items":{"$ref":"#/components/schemas/ResultPid"}},"dateOfCollection":{"type":"string"},"lastUpdateTimeStamp":{"type":"integer","format":"int64"},"indicators":{"$ref":"#/components/schemas/Indicator"},"instances":{"type":"array","items":{"$ref":"#/components/schemas/Instance"}},"isGreen":{"type":"boolean"},"isInDiamondJournal":{"type":"boolean"}}},"Instance":{"type":"object","properties":{"pids":{"type":"array","items":{"$ref":"#/components/schemas/ResultPid"}},"alternateIdentifiers":{"type":"array","items":{"$ref":"#/components/schemas/AlternateIdentifier"}},"license":{"type":"string"},"accessRight":{"$ref":"#/components/schemas/AccessRight"},"type":{"type":"string"},"urls":{"type":"array","items":{"type":"string"}},"articleProcessingCharge":{"$ref":"#/components/schemas/APC"},"publicationDate":{"type":"string"},"refereed":{"type":"string"}}},"ResearchProductsSearchResponse":{"type":"object","properties":{"header":{"$ref":"#/components/schemas/SearchHeader"},"results":{"type":"array","items":{"$ref":"#/components/schemas/GraphResult"}}}},"Entity":{"type":"object","properties":{"name":{"type":"string"},"identifiers":{"type":"array","items":{"$ref":"#/components/schemas/Identifier"}}}},"Identifier":{"type":"object","properties":{"id":{"type":"string"},"idScheme":{"type":"string"},"idUrl":{"type":"string"}}},"Node":{"type":"object","properties":{"identifiers":{"type":"array","items":{"$ref":"#/components/schemas/Identifier"}},"title":{"type":"string"},"type":{"type":"string"},"instanceType":{"type":"string"},"publicationDate":{"type":"string"},"authors":{"type":"array","items":{"$ref":"#/components/schemas/Entity"}},"collectedFrom":{"type":"array","items":{"$ref":"#/components/schemas/Entity"}}}},"RelType":{"type":"object","properties":{"name":{"type":"string"},"type":{"type":"string"},"typeSchema":{"type":"string"}}},"Relation":{"type":"object","properties":{"source":{"$ref":"#/components/schemas/Node"},"target":{"$ref":"#/components/schemas/Node"},"relType":{"$ref":"#/components/schemas/RelType"}}},"SearchResponseRelation":{"type":"object","properties":{"header":{"$ref":"#/components/schemas/SearchHeader"},"results":{"type":"array","items":{"$ref":"#/components/schemas/Relation"}}}},"SearchResponse":{"type":"object","properties":{"header":{"$ref":"#/components/schemas/SearchHeader"},"results":{"type":"array","items":{"type":"object"}}}},"Funder":{"type":"object","properties":{"shortName":{"type":"string"},"name":{"type":"string"},"jurisdiction":{"type":"string"},"fundingStream":{"$ref":"#/components/schemas/Fundings"}}},"Fundings":{"type":"object","properties":{"id":{"type":"string"},"description":{"type":"string"}}},"Granted":{"type":"object","properties":{"currency":{"type":"string"},"totalCost":{"type":"number","format":"float"},"fundedAmount":{"type":"number","format":"float"}}},"Programme":{"type":"object","properties":{"code":{"type":"string"},"description":{"type":"string"}}},"ProjectSearchResponse":{"type":"object","properties":{"header":{"$ref":"#/components/schemas/SearchHeader"},"results":{"type":"array","items":{"$ref":"#/components/schemas/Project"}}}},"Category":{"type":"object","properties":{"id":{"type":"string"},"label":{"type":"string"},"concept":{"type":"array","items":{"$ref":"#/components/schemas/Concept"}}}},"CodeLabel":{"type":"object","properties":{"code":{"type":"string"},"label":{"type":"string"}}},"Concept":{"type":"object","properties":{"id":{"type":"string"},"label":{"type":"string"}}},"GraphApiPerson":{"type":"object","properties":{"id":{"type":"string"},"originalId":{"type":"array","items":{"type":"string"}},"givenName":{"type":"string"},"familyName":{"type":"string"},"alternativeNames":{"type":"array","items":{"type":"string"}},"biography":{"type":"string"},"subject":{"type":"array","items":{"$ref":"#/components/schemas/PersonTopic"}},"indicator":{"type":"array","items":{"$ref":"#/components/schemas/Measure"}},"context":{"type":"array","items":{"$ref":"#/components/schemas/Context"}},"consent":{"type":"boolean"},"coAuthors":{"uniqueItems":true,"type":"array","items":{"type":"string"}}}},"Measure":{"type":"object","properties":{"id":{"type":"string"},"unit":{"type":"array","items":{"$ref":"#/components/schemas/CodeLabel"}}}},"PersonTopic":{"type":"object","properties":{"value":{"type":"string"},"schema":{"type":"string"},"fromYear":{"type":"string"},"toYear":{"type":"string"}}},"Country":{"type":"object","properties":{"code":{"type":"string"},"label":{"type":"string"}}},"Organization":{"type":"object","properties":{"legalShortName":{"type":"string"},"legalName":{"type":"string"},"websiteUrl":{"type":"string"},"alternativeNames":{"type":"array","items":{"type":"string"}},"country":{"$ref":"#/components/schemas/Country"},"id":{"type":"string"},"pids":{"type":"array","items":{"$ref":"#/components/schemas/OrganizationPid"}}}},"OrganizationSearchResponse":{"type":"object","properties":{"header":{"$ref":"#/components/schemas/SearchHeader"},"results":{"type":"array","items":{"$ref":"#/components/schemas/Organization"}}}},"DataSourceSearchResponse":{"type":"object","properties":{"header":{"$ref":"#/components/schemas/SearchHeader"},"results":{"type":"array","items":{"$ref":"#/components/schemas/Datasource"}}}},"Datasource":{"type":"object","properties":{"id":{"type":"string"},"originalIds":{"type":"array","items":{"type":"string"}},"pids":{"type":"array","items":{"$ref":"#/components/schemas/DatasourcePid"}},"type":{"$ref":"#/components/schemas/DatasourceSchemeValue"},"openaireCompatibility":{"type":"string"},"officialName":{"type":"string"},"englishName":{"type":"string"},"websiteUrl":{"type":"string"},"logoUrl":{"type":"string"},"dateOfValidation":{"type":"string"},"description":{"type":"string"},"subjects":{"type":"array","items":{"type":"string"}},"languages":{"type":"array","items":{"type":"string"}},"contentTypes":{"type":"array","items":{"type":"string"}},"releaseStartDate":{"type":"string"},"releaseEndDate":{"type":"string"},"missionStatementUrl":{"type":"string"},"accessRights":{"type":"string"},"uploadRights":{"type":"string"},"databaseAccessRestriction":{"type":"string"},"dataUploadRestriction":{"type":"string"},"versioning":{"type":"boolean"},"citationGuidelineUrl":{"type":"string"},"pidSystems":{"type":"string"},"certificates":{"type":"string"},"policies":{"type":"array","items":{"type":"string"}},"journal":{"$ref":"#/components/schemas/Container"}}},"DatasourcePid":{"type":"object","properties":{"scheme":{"type":"string"},"value":{"type":"string"}}},"DatasourceSchemeValue":{"type":"object","properties":{"scheme":{"type":"string"},"value":{"type":"string"}}},"SkgIfJsonLdResponse":{"type":"object","properties":{"@context":{"type":"array","items":{"type":"object"}},"meta":{"$ref":"#/components/schemas/SkgIfResponseMeta"},"@graph":{"type":"array","items":{"type":"object"}}}},"SkgIfNextPage":{"type":"object","properties":{"local_identifier":{"type":"string"},"entity_type":{"type":"string"}}},"SkgIfPartOf":{"type":"object","properties":{"local_identifier":{"type":"string"},"entity_type":{"type":"string"},"total_items":{"type":"integer","format":"int64"}}},"SkgIfPrevPage":{"type":"object","properties":{"local_identifier":{"type":"string"},"entity_type":{"type":"string"}}},"SkgIfResponseMeta":{"type":"object","properties":{"local_identifier":{"type":"string"},"entity_type":{"type":"string"},"prev_page":{"$ref":"#/components/schemas/SkgIfPrevPage"},"next_page":{"$ref":"#/components/schemas/SkgIfNextPage"},"part_of":{"$ref":"#/components/schemas/SkgIfPartOf"}}},"XmlCollectedFrom":{"type":"object","properties":{"name":{"type":"string","xml":{"attribute":true}},"id":{"type":"string","xml":{"attribute":true}}},"xml":{"name":"collectedfrom"}},"XmlContractType":{"type":"object","properties":{"classid":{"type":"string","xml":{"attribute":true}},"classname":{"type":"string","xml":{"attribute":true}},"schemeid":{"type":"string","xml":{"attribute":true}},"schemename":{"type":"string","xml":{"attribute":true}}},"xml":{"name":"contracttype"}},"XmlCountry":{"type":"object","properties":{"classid":{"type":"string","xml":{"attribute":true}},"classname":{"type":"string","xml":{"attribute":true}},"schemeid":{"type":"string","xml":{"attribute":true}},"schemename":{"type":"string","xml":{"attribute":true}}},"xml":{"name":"country"}},"XmlDataInfo":{"type":"object","properties":{"inferred":{"type":"string"},"deletedbyinference":{"type":"string"},"trust":{"type":"string"},"inferenceprovenance":{"type":"string"},"provenanceaction":{"$ref":"#/components/schemas/XmlProvenanceAction"}},"xml":{"name":"datainfo"}},"XmlEntity":{"type":"object","properties":{"project":{"$ref":"#/components/schemas/XmlProject"},"xmlnsOaf":{"type":"string","xml":{"name":"xmlns:oaf","attribute":true}},"xsiSchemaLocation":{"type":"string","xml":{"name":"schemaLocation","namespace":"http://www.w3.org/2001/XMLSchema-instance","attribute":true}}},"xml":{"name":"entity","namespace":"http://namespace.openaire.eu/oaf"}},"XmlFunder":{"type":"object","properties":{"id":{"type":"string"},"shortname":{"type":"string"},"name":{"type":"string"},"jurisdiction":{"type":"string"}},"xml":{"name":"funder"}},"XmlFundingLevel":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"},"parent":{"$ref":"#/components/schemas/XmlFundingLevelParent"},"clazz":{"type":"string","xml":{"name":"class"}}}},"XmlFundingLevelParent":{"type":"object","properties":{"value":{"type":"string"}}},"XmlFundingTree":{"type":"object","properties":{"funder":{"$ref":"#/components/schemas/XmlFunder"},"fundingLevel0":{"$ref":"#/components/schemas/XmlFundingLevel"},"fundingLevel1":{"$ref":"#/components/schemas/XmlFundingLevel"},"fundingLevel2":{"$ref":"#/components/schemas/XmlFundingLevel"}},"xml":{"name":"fundingtree"}},"XmlHeader":{"type":"object","properties":{"query":{"type":"string"},"locale":{"type":"string"},"size":{"type":"integer","format":"int32"},"page":{"type":"integer","format":"int32"},"total":{"type":"integer","format":"int64"},"fields":{"type":"string"}},"xml":{"name":"header"}},"XmlMeasure":{"type":"object","properties":{"id":{"type":"string","xml":{"attribute":true}},"score":{"type":"string","xml":{"attribute":true}},"count":{"type":"string","xml":{"attribute":true}},"datasource":{"type":"string","xml":{"attribute":true}}},"xml":{"name":"measure"}},"XmlMetadata":{"type":"object","properties":{"entity":{"$ref":"#/components/schemas/XmlEntity"}},"xml":{"name":"metadata"}},"XmlPid":{"type":"object","properties":{"classid":{"type":"string","xml":{"attribute":true}},"classname":{"type":"string","xml":{"attribute":true}},"schemeid":{"type":"string","xml":{"attribute":true}},"schemename":{"type":"string","xml":{"attribute":true}},"inferred":{"type":"string","xml":{"attribute":true}},"provenanceaction":{"type":"string","xml":{"attribute":true}},"trust":{"type":"string","xml":{"attribute":true}},"value":{"type":"string"}},"xml":{"name":"pid"}},"XmlProject":{"type":"object","properties":{"collectedfrom":{"$ref":"#/components/schemas/XmlCollectedFrom"},"originalId":{"type":"string"},"pids":{"type":"array","xml":{"name":"pid"},"items":{"$ref":"#/components/schemas/XmlPid"}},"measures":{"type":"array","xml":{"name":"measure"},"items":{"$ref":"#/components/schemas/XmlMeasure"}},"code":{"type":"string"},"acronym":{"type":"string"},"title":{"type":"string"},"startdate":{"type":"string"},"enddate":{"type":"string"},"callidentifier":{"type":"string"},"duration":{"type":"string"},"keywords":{"type":"string"},"ecarticle293":{"type":"string","xml":{"name":"ecarticle29_3"}},"subjects":{"type":"array","xml":{"name":"subject"},"items":{"$ref":"#/components/schemas/XmlSubject"}},"contracttype":{"$ref":"#/components/schemas/XmlContractType"},"oamandatepublications":{"type":"string"},"ecsc39":{"type":"string"},"summary":{"type":"string"},"currency":{"type":"string"},"totalcost":{"type":"string"},"fundedamount":{"type":"string"},"fundingtree":{"$ref":"#/components/schemas/XmlFundingTree"},"datainfo":{"$ref":"#/components/schemas/XmlDataInfo"},"rels":{"$ref":"#/components/schemas/XmlRels"},"children":{"type":"string"}},"xml":{"name":"project"}},"XmlProvenanceAction":{"type":"object","properties":{"classid":{"type":"string","xml":{"attribute":true}},"classname":{"type":"string","xml":{"attribute":true}},"schemeid":{"type":"string","xml":{"attribute":true}},"schemename":{"type":"string","xml":{"attribute":true}}},"xml":{"name":"provenanceaction"}},"XmlRel":{"type":"object","properties":{"inferred":{"type":"string","xml":{"attribute":true}},"trust":{"type":"string","xml":{"attribute":true}},"inferenceprovenance":{"type":"string","xml":{"attribute":true}},"provenanceaction":{"type":"string","xml":{"attribute":true}},"to":{"$ref":"#/components/schemas/XmlRelTo"},"legalname":{"type":"string"},"country":{"$ref":"#/components/schemas/XmlCountry"},"legalshortname":{"type":"string"},"websiteurl":{"type":"string"}},"xml":{"name":"rel"}},"XmlRelTo":{"type":"object","properties":{"clazz":{"type":"string","xml":{"name":"class","attribute":true}},"scheme":{"type":"string","xml":{"attribute":true}},"type":{"type":"string","xml":{"attribute":true}},"value":{"type":"string"}},"xml":{"name":"to"}},"XmlRels":{"type":"object","properties":{"rels":{"type":"array","xml":{"name":"rel"},"items":{"$ref":"#/components/schemas/XmlRel"}}},"xml":{"name":"rels"}},"XmlResponse":{"type":"object","properties":{"header":{"$ref":"#/components/schemas/XmlHeader"},"results":{"$ref":"#/components/schemas/XmlResults"},"browseResults":{"type":"string"}},"xml":{"name":"response"}},"XmlResult":{"required":["header","metadata"],"type":"object","properties":{"header":{"$ref":"#/components/schemas/XmlResultHeader"},"metadata":{"$ref":"#/components/schemas/XmlMetadata"},"xmlnsDri":{"type":"string","xml":{"name":"xmlns:dri","attribute":true}},"xmlnsXsi":{"type":"string","xml":{"name":"xmlns:xsi","attribute":true}}},"xml":{"name":"result"}},"XmlResultHeader":{"type":"object","properties":{"objIdentifier":{"type":"string","xml":{"namespace":"http://www.driver-repository.eu/namespace/dri"}},"dateOfCollection":{"type":"string","xml":{"namespace":"http://www.driver-repository.eu/namespace/dri"}},"dateOfTransformation":{"type":"string","xml":{"namespace":"http://www.driver-repository.eu/namespace/dri"}}},"xml":{"name":"header"}},"XmlResults":{"type":"object","properties":{"results":{"type":"array","xml":{"name":"result"},"items":{"$ref":"#/components/schemas/XmlResult"}}},"xml":{"name":"results"}},"XmlSubject":{"type":"object","properties":{"classid":{"type":"string","xml":{"attribute":true}},"classname":{"type":"string","xml":{"attribute":true}},"schemeid":{"type":"string","xml":{"attribute":true}},"schemename":{"type":"string","xml":{"attribute":true}},"inferred":{"type":"string","xml":{"attribute":true}},"provenanceaction":{"type":"string","xml":{"attribute":true}},"trust":{"type":"string","xml":{"attribute":true}},"value":{"type":"string"}},"xml":{"name":"subject"}}}}}