{"openapi":"3.0.1","info":{"title":"ScholeExplorer APIs","description":" <p style=\"text-align:center;\"><img src=\"/logo.png\" alt=\"ScholeXplorer\"> </p>TThe Scholexplorer API support the discovery of Scholix relationships filtering by the following parameters: source ID, target ID, semantics, publisher, entity type (publication, dataset, software, other), or publishing date. As of today, three API versions area available:<ul><li><a href=\"/v1/ui\">version 1.0</a></li><li><a href=\"/v2/ui\">version 2.0</a></li><li><a href=\"/v3/ui\">version 3.0</a></li><p>For more information, please visit the <a href=\"https://graph.openaire.eu/docs/apis/scholexplorer/api\">API documentation</a></p>","license":{"name":"GNU Affero General Public License v3.0 or later","url":"https://www.gnu.org/licenses/agpl-3.0.txt"}},"servers":[{"url":"https://api.scholexplorer.openaire.eu","description":"API Base URL"}],"tags":[],"paths":{"/v3/Links":{"get":{"tags":["Links : Operation related to the Scholix Links"],"summary":"Get Scholix Links","operationId":"links","parameters":[{"name":"targetPid","in":"query","description":"Filter Scholix relationships having a target pid","required":false,"schema":{"type":"string"}},{"name":"targetPublisher","in":"query","description":"Filter Scholix relationships having a target published in a Publisher named targetPublisher","required":false,"schema":{"type":"string"}},{"name":"targetType","in":"query","description":"Filter Scholix relationships having a target type (publication, dataset, software, other)","required":false,"schema":{"type":"string"}},{"name":"sourcePid","in":"query","description":"Filter Scholix relationships having a source pid","required":false,"schema":{"type":"string"}},{"name":"sourcePublisher","in":"query","description":"Filter Scholix relationships having a source published in a Publisher named sourcePublisher","required":false,"schema":{"type":"string"}},{"name":"sourceType","in":"query","description":"Filter Scholix relationships having a source type (publication, dataset, software, other)","required":false,"schema":{"type":"string"}},{"name":"relation","in":"query","description":"Filter Scholix having a specific relationships ","required":false,"schema":{"type":"string"}},{"name":"from","in":"query","description":"Filter scholix Links after this date","required":false,"schema":{"type":"string"}},{"name":"to","in":"query","description":"Filter scholix Links until this date","required":false,"schema":{"type":"string"}},{"name":"size","in":"query","description":"set the size of the page, default is 10, max is 100","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"page","in":"query","description":"select page of result","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageResultType"}}}}}}},"/v2/Links":{"get":{"tags":["Links : Operation related to the Scholix Links"],"summary":"Get Scholix Links","operationId":"links_1","parameters":[{"name":"linkProvider","in":"query","description":"Filter Scholix relationships collected from a LinkProvider","required":false,"schema":{"type":"string"}},{"name":"targetPid","in":"query","description":"Filter Scholix relationships having a target pid","required":false,"schema":{"type":"string"}},{"name":"targetPidType","in":"query","description":"Filter Scholix relationships having a target pid type","required":false,"schema":{"type":"string"}},{"name":"targetPublisher","in":"query","description":"Filter Scholix relationships having a target published in a Publisher named targetPublisher","required":false,"schema":{"type":"string"}},{"name":"targetType","in":"query","description":"Filter Scholix relationships having a target type (publication, dataset, software, other)","required":false,"schema":{"type":"string"}},{"name":"sourcePid","in":"query","description":"Filter Scholix relationships having a source pid","required":false,"schema":{"type":"string"}},{"name":"sourcePidType","in":"query","description":"Filter Scholix relationships having a source pid type","required":false,"schema":{"type":"string"}},{"name":"sourcePublisher","in":"query","description":"Filter Scholix relationships having a source published in a Publisher named sourcePublisher","required":false,"schema":{"type":"string"}},{"name":"sourceType","in":"query","description":"Filter Scholix relationships having a source type (publication, dataset, software, other)","required":false,"schema":{"type":"string"}},{"name":"relation","in":"query","description":"Filter Scholix having a specific relationships ","required":false,"schema":{"type":"string"}},{"name":"size","in":"query","description":"set the size of the page, default is 10, max is 100","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"page","in":"query","description":"select page of result","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageResultType"}}}}}}},"/v2/LinkPublisher/inTarget":{"get":{"tags":["LinkPublisher : Operation related to the Link Publisher"],"summary":"Get All Publishers that provide target object","description":"Return a List of all Publishers that provide source objects in Scholix links and the total number of links where the target object comes from this publisher","operationId":"getInTarget","parameters":[{"name":"name","in":"query","description":"Filter the link publisher name","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/LinkProviderType"}}}}}}}},"/v2/LinkPublisher/inSource":{"get":{"tags":["LinkPublisher : Operation related to the Link Publisher"],"summary":"Get All Publishers that provide source object","description":"Return a List of all Publishers that provide source objects in Scholix links and the total number of links where the source object comes from this publisher","operationId":"getInSource","parameters":[{"name":"name","in":"query","description":"Filter the link publisher name","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/LinkProviderType"}}}}}}}},"/v2/LinkProvider":{"get":{"tags":["LinkProvider : Operation related to the Link Provider"],"summary":"Get all Link Providers","description":"Return a list of link provider and relative number of relations","operationId":"getLinkProviders","parameters":[{"name":"name","in":"query","description":"Filter the link provider name","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/LinkProviderType"}}}}}}}},"/v1/listDatasources":{"get":{"tags":["Datasources"],"summary":"Get all Datasources","description":"returns a list of all datasources","operationId":"getDatasources","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/LinkPublisher"}}}}}}}},"/v1/linksFromPublisher":{"get":{"tags":["scholix-link-controller-v-1"],"summary":"Get all Scholix relation collected from a publisher","description":"return a list of scholix object published from a specific publisher","operationId":"linksFromPublisher","parameters":[{"name":"publisher","in":"query","description":"Filter Scholix relationships collected from a publisher","required":true,"schema":{"type":"string"}},{"name":"page","in":"query","description":"The page number","required":false,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ScholixV1"}}}}}}}},"/v1/linksFromPid":{"get":{"tags":["scholix-link-controller-v-1"],"summary":"Retrieve all scholix links from a persistent identifier","description":"The linksFromPid endpoint returns a list of scholix object related from a specific persistent identifier","operationId":"linksFromPid","parameters":[{"name":"pid","in":"query","description":"persistent Identifier","required":true,"schema":{"type":"string"}},{"name":"pidType","in":"query","description":"Persistent Identifier Type","required":false,"schema":{"type":"string"}},{"name":"typologyTarget","in":"query","description":"typology target filter should be publication, dataset, software, other","required":false,"schema":{"type":"string"}},{"name":"datasourceTarget","in":"query","description":"a datasource provenance filter of the target relation","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","description":"The page number","required":false,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ScholixV1"}}}}}}}},"/v1/linksFromDatasource":{"get":{"tags":["scholix-link-controller-v-1"],"summary":"Get all Scholix relation collected from a datasource","description":"return a list of scholix object collected from a specific datasource","operationId":"linksFromDatasource","parameters":[{"name":"datasource","in":"query","description":"Filter Scholix relationships collected from a LinkProvider","required":true,"schema":{"type":"string"}},{"name":"page","in":"query","description":"The page number","required":false,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ScholixV1"}}}}}}}},"/kpi/getKPI":{"get":{"tags":["kpi"],"operationId":"kpi","responses":{"200":{"description":"OK"}}}}},"components":{"schemas":{"PageResultType":{"required":["currentPage","result","totalLinks","totalPages"],"type":"object","properties":{"currentPage":{"type":"integer","description":"The Current page of the results","format":"int64"},"totalLinks":{"type":"integer","description":"The total number of Links found by the query","format":"int64"},"totalPages":{"type":"integer","description":"The Total number of pages","format":"int64"},"result":{"type":"array","description":"The First page of Scholix results","items":{"$ref":"#/components/schemas/ScholixType"}}}},"RelationshipType":{"required":["Name"],"type":"object","properties":{"Name":{"type":"string","description":"The relationship type chosen from a Scholix controlled vocabulary"},"SubType":{"type":"string","description":"The sub-type of RelationshipType.Name"},"SubTypeSchema":{"type":"string","description":"The name of the schema or controlled list from which RelationshipSub-type is sourced"}},"description":"The nature of the relationship between the source object and target object in this Link Information Package"},"ScholixCreatorType":{"required":["identifier","name"],"type":"object","properties":{"name":{"type":"string","description":"The name of the Object Creator"},"identifier":{"type":"array","description":"A List of unique string that identifies the creator","items":{"$ref":"#/components/schemas/ScholixIdentifierType"}}}},"ScholixIdentifierType":{"required":["ID","IDScheme","IDURL"],"type":"object","properties":{"ID":{"type":"string","description":"The identifier"},"IDScheme":{"type":"string","description":"The scheme or namespace of the identifier string"},"IDURL":{"type":"string","description":"An internet resolvable form of the identifier"}},"description":"A List of unique string that identifies the object"},"ScholixItemType":{"type":"object","properties":{"Identifier":{"type":"array","items":{"$ref":"#/components/schemas/ScholixIdentifierType"}},"Title":{"type":"string"},"Type":{"type":"string"},"subType":{"type":"string"},"Creator":{"type":"array","items":{"$ref":"#/components/schemas/ScholixCreatorType"}},"PublicationDate":{"type":"string"},"Publisher":{"type":"array","items":{"$ref":"#/components/schemas/ScholixLinkProviderType"}}},"description":"Gets Root element relative to all properties describing the link’s target object"},"ScholixLinkProviderType":{"required":["identifier","name"],"type":"object","properties":{"name":{"type":"string","description":"The name of the Provider"},"identifier":{"type":"array","description":"A List of unique string that identifies the object","items":{"$ref":"#/components/schemas/ScholixIdentifierType"}}},"description":"The source(s) of this Link Information Package"},"ScholixType":{"required":["RelationshipType","source","target"],"type":"object","properties":{"RelationshipType":{"$ref":"#/components/schemas/RelationshipType"},"source":{"$ref":"#/components/schemas/ScholixItemType"},"target":{"$ref":"#/components/schemas/ScholixItemType"},"HarvestDate":{"type":"string"},"LicenseURL":{"type":"string","description":"The URL of the license for the Scholix Link Information Package"},"LinkProvider":{"type":"array","description":"The source(s) of this Link Information Package","items":{"$ref":"#/components/schemas/ScholixLinkProviderType"}},"LinkPublicationDate":{"type":"string","description":"Date when this Link Information Package was first formally issued from this current Provider"}},"description":"The First page of Scholix results"},"LinkProviderType":{"required":["name","totalRelationships"],"type":"object","properties":{"name":{"type":"string","description":"The Publisher Name"},"totalRelationships":{"type":"integer","description":"Total number of relationships that the publisher provides","format":"int32"}}},"LinkPublisher":{"required":["name","totalRelationships"],"type":"object","properties":{"name":{"type":"string","description":"The Publisher Name"},"totalRelationships":{"type":"integer","description":"Total number of relationships that the publisher provides","format":"int32"}}},"ScholixCreator":{"required":["name"],"type":"object","properties":{"name":{"type":"string","description":"The name of the Object Creator"},"identifier":{"type":"array","description":"A unique string that identifies the Object Creator","items":{"$ref":"#/components/schemas/ScholixIdentifier"}}},"description":"Party responsible for the creation of the object"},"ScholixIdentifier":{"type":"object","properties":{"identifier":{"type":"string","description":"The value of the Identifier"},"schema":{"type":"string","description":"The Schema URL of the identifier type"}},"description":"A unique string that identifies the Object Creator"},"ScholixItem":{"type":"object","properties":{"identifiers":{"type":"array","description":"The list of identifiers","items":{"$ref":"#/components/schemas/ScholixIdentifier"}},"objectType":{"type":"string","description":"Describes the nature of the object (its intended usage)"},"objectSubType":{"type":"string","description":"The sub-type of  Object"},"title":{"type":"string","description":"The name of the object"},"creator":{"type":"array","description":"Party responsible for the creation of the object","items":{"$ref":"#/components/schemas/ScholixCreator"}},"publicationDate":{"type":"string","description":"The date the object was formally issued, published or distributed"},"publisher":{"type":"array","description":"The list name of the publisher of the object","items":{"$ref":"#/components/schemas/ScholixProvider"}}},"description":"Root element relative to all properties describing the link’s target object."},"ScholixProvider":{"type":"object","properties":{"name":{"type":"string","description":"The provider name"},"identifier":{"type":"array","description":"the identifiers of the provider","items":{"$ref":"#/components/schemas/ScholixIdentifier"}}},"description":"The list name of the publisher of the object"},"ScholixRelationship":{"required":["inverseRelationship","name"],"type":"object","properties":{"name":{"type":"string","description":"The relationship type chosen from a Scholix controlled vocabulary"},"schema":{"type":"string","description":"The name of the schema or controlled list from which Relationship Sub-type is sourced"},"inverseRelationship":{"type":"string","description":"The value of the inverse relation"}},"description":"Semantics of the relationship from source to target"},"ScholixV1":{"required":["relationship","source","target"],"type":"object","properties":{"linkProvider":{"type":"array","description":"An entity responsible for making this record available online","items":{"$ref":"#/components/schemas/ScholixProvider"}},"publicationDate":{"type":"string","description":"date of formal issuance (e.g., publication) of the resource; generally different from source object and target object publication dates"},"relationship":{"$ref":"#/components/schemas/ScholixRelationship"},"source":{"$ref":"#/components/schemas/ScholixItem"},"target":{"$ref":"#/components/schemas/ScholixItem"}}}}}}